body:after
{
content: url('../img/bieb1.png') url('../img/bieb2.png') url('../img/bieb3.png') url('../img/b00m.png');
display: none;
}

body {
	height: 100%;
	width: 100%;
	background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
	font-size: 30px;
	color: #fff;
	float: left;
}

#scorediv {
	color: #fff;
	font-size: 30px;
	margin-right: 20px;
	float: right;
	clear: right;
}

#boomScorediv {
	color: #ff0800;
	font-size: 26px;
	margin-left: 60px;
	float: left;
	clear: left;
}

.foot {
	font-size: 13px;
	color: #fff;
	margin: 10px 0 5px 25px;
}

#OOPS {
	background: url('../img/biebg.jpg') no-repeat;
	background-size: cover;
	background-attachment:fixed;
	display: none;
	position: absolute;
	top: -200px;
	left: 0px;
	height: 120%;
	width: 100%;
	z-index: 9999;
}

.LOSER {
	display: block !important;
}

#YEY {
	background: url('../img/winheart.jpg') no-repeat;
	background-size: cover;
	background-attachment:fixed;
	display: none;
	position: absolute;
	top: -200px;
	left: 0px;
	height: 120%;
	width: 100%;
	z-index: 9999;
}

.WINNER {
	display: block !important;
}

#LostLeft {
	position: absolute;
	bottom: 100px;
	left: 10px;
	font-size: 230px;
	font-family: Sancreek, sans-serif;
	color: #ff0800;	

}

h1.Home1 {
	position: absolute;
	top: 270px;
	left: 290px;
	font-size: 85px;
	-webkit-animation: fadein 3s; /* Safari and Chrome */
 -moz-animation: fadein 2s; /* Firefox */
  -ms-animation: fadein 2s; /* Internet Explorer */
   -o-animation: fadein 2s; /* Opera */
      animation: fadein 2s;

}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h2.Home2 {
	position: absolute;
	top: 400px;
	left: 500px;
	font-size: 80px;
	font-weight: bold;
	-webkit-animation: fadein 7s; /* Safari and Chrome */
	 -moz-animation: fadein 2s; /* Firefox */
	  -ms-animation: fadein 2s; /* Internet Explorer */
	   -o-animation: fadein 2s; /* Opera */
	      animation: fadein 2s;
}

img.HomeBieb {
	position: absolute;
	top: 100px;
	right: 140px;	
	-webkit-animation: fadein 10s; /* Safari and Chrome */

}
